.formContainer{
  background-color: aliceblue;
  border-radius: 20px;
  padding: 3%;
  
}

input{
  width: 95%;
  padding: 4%;
  margin: 2%;
  border-radius: 10px;
  border: 1px solid #404040;
  position: relative;
}

label{
  position: absolute;
  top: 0;
}